body {
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-size: 10px;
}
.box {
    width: 350px;
    margin-bottom: 35px;
}
.text--normal {
    font-family: Arial, "Helvetica", sans-serif;
}